.add-todo-form {
  display: flex;
  width: 100%;
}

.todo-input {
  flex-grow: 1;
  width: calc(100% - 10px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.add-todo-button {
  white-space: nowrap;
  padding: 10px;
  margin-bottom: 10px;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .add-todo-form {
    flex-direction: column;
  }

  .todo-input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .add-todo-button {
    width: 100%;
    margin-bottom: 10px;
  }
}
