.todo {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.todo.completed {
  background-color: #e9ecef;
  color: #495057;
}

.todo.not-completed {
  background-color: #d4edda;
  color: #155724;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo button {
  margin-left: 10px;
}

/* Styles for the edit form */
.edit-form {
  display: flex;
  width: 100%;
  align-items: center;
}

.edit-form input[type="text"] {
  flex-grow: 1;
  margin: 0px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit-form button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.edit-form button:hover {
  background-color: #0056b3;
}

/* Responsive Adjustments */
@media screen and (max-width: 600px) {
  .todo {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .todo button {
    margin-top: 5px;
    margin-right: 5px;
  }

  .edit-form button {
    margin-top: 10px;
  }

  .todo button:last-child {
    margin-right: 0; /* No extra space after the last button */
  }

  .edit-form {
    flex-direction: column;
    align-items: stretch;
  }

  .edit-form input[type="text"] {
    margin-bottom: 10px; /* Add spacing between input and button in edit form */
  }
}
